<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabalhoactitivities">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PROJETO UI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoActitivities">
        <activity
            android:name=".PrimeiraActivity"
            android:exported="false" />
        <activity
            android:name=".QuartaActivity"
            android:exported="false"
            android:label="PROJETO UI" />
        <activity
            android:name=".TerceiraActivity"
            android:exported="false"
            android:label="PROJETO UI" />
        <activity
            android:name=".SegundaActivity"
            android:exported="false"
            android:label="PROJETO UI" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="INÍCIO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>